/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-default {
  background-color: white;
}
.navbar-brand {
  pading:13 px;15px;
}

   #searchInput {
      width:200px;
   }
   .jumbotron{
     margin-top: 80px;
     background-repeat: no-repeat;

      color:black;
     height:650px;

   }
#para{
  font-style: normal;
  margin-top: 120px;
  font-family:  inherit;
  font-size: 17px;
}

#jumbo2 {

  height:400px;
}
#row2image{
  margin-top: 80px;
}

.footer {
  margin-top: 40px;
  background-color: #f5f5f5;
  width:100%;
  height:80px;

}

.list-inline{
  padding-right: 100px;
}

.list-inline>li{
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;

}
.copyright{
  padding-top: 20px;
  padding-left: 15px;
}
  h4 {
    color:#428bca;
}
p.container{
  padding-top: 20px;
}


h3 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: 500;
    font-family: serif;
    font-stretch: semi-expanded;
}
.color_14{
  width:341px;
  height:105px;

}
#Product{
  padding-left: 20px;
}

#col1_head{
  margin-top: 40px;
  }
  #classic{
    font-weight: 50px;
  }
  #paragraph1{
    font-size: 20px;
  }
  #paragraph2{
    font-size: 20px;
  }
  #paragraph3{
    font-size: 20px;
  }
  #featuresHeading{
  margin-top: 40px;
  padding-left: 20px;
}
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
